
/*-- ============================================================== 
 Small Desktop & above all (1200px) 
 ============================================================== */

 @media(max-width:1200px) {
    .story{
        p{
            width: 400px;
        }
    }
}


/*-- ============================================================== 
 Ipad & above all(769px) 
 ============================================================== */

@media(min-width:769px) {
}


/*-- ============================================================== 
Phone and below (768px) 
============================================================== */

@media(max-width:768px) {
    section{
        &:not(.controls){
            .back, .story-nav{
                opacity: 1;
            }
        }
    }
    .story p{
        font-size: 22px;
        width: 100%;
    }
    .story-nav{
        padding: 0;
        position: relative;
        left: 0;
        bottom: -20px;
    }
    .game{
        margin-bottom: 50px;
        max-width: 100%;
        &:after{
            display: none;
        }
    }
    section{
        padding: 70px 40px;
    }
    .back{
        margin-left: -20px;
    }
}

@media (max-width: 500px){
    section{
        padding: 50px 40px;
    }
    .back{
        margin-left: 0;
        margin-top: -20px;
    }
    .ornament{
        width: 100px;
    }
    .game{
        padding: 0;
        #game-win{
            left: 0;
            padding: 20px;
            z-index: 99;
        }
    }
    .story-nav{
        &>div{
            width: 100%;
            &.story-position{
                span{
                    margin: 0;
                }
            }
        }
    }
    .story{
        .story-img{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}