section#home.active
    .top-decoration.decoration
        i.ornament.ornament-top.reflect-y
        i.ornament.ornament-top
    h1.fade-in Los tres cerditos
    .middle-decoration.decoration
        i.ornament.ornament-middle.reflect-y
        i.ornament.ornament-middle
    .middle-decoration-x.decoration
        i.ornament.ornament-middle.reflect-x.reflect-y
        i.ornament.ornament-middle.reflect-x
    .bottom-decoration.decoration
        i.ornament.ornament-bottom.reflect-y
        i.ornament.ornament-bottom
    br
    .home-options
        a#goStory.btn.btn-outline.btn-primary Cuento
        a#goPlay.btn.btn-outline.btn-primary Jugar